.topsection{
  
  
}

body {
    
text-align: center
  
}
p {
  font-size: 22px;
   font-family: "Times New Roman", Times, serif;
  }
  
  img {
    border-radius: 25px;
 
  }
.intro {
  background-color:#ef94e8;
  
  
  
}