.topsection{
  
  
}

body {
    background-color: #B35DB7;
    font-family: Helvetica;

  
}
p {
  font-size: 22px;
   font-family: "Times New Roman", Times, serif;
  }
  
  img {
    border-radius: 25px;
 
  }
.intro {
  background-color:#ef94e8;
}
body{
  background-color:#B35DB7;
  
  
  
}
h2{
  text-align: center
}
div {
  border-width: 5px;
  border-style: outset;
    border-color: #565656;
  background-color: #EF94E8;
}
